# Stop searching for additional config files.
set noparent

# Disable a warning about C++ features that were not in the original
# C++17 specification (and so might not be well-supported).
filter=-build/c++11,-build/c++17

# Disable header_guard warning 
# Consider using #pragma once instead
filter=-build/header_guard

# Our project's style expects the contents of a namespace to be indented
filter=-whitespace/indent_namespace,-whitespace/indent,-whitespace/comments

linelength=120

